//@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

.container{
	width: 1440px;
}

.main{
	//width: 1441px;
	//height: 819px;
	height: 829px;
	background-color: #dbcfcc;
	//opacity: 0.8;

	&__title{
		width: 399px;
		//height: 41px;
		padding-top: 77px;
		padding-bottom: 91px;
		height: 41px;
		color: #ad6c12;
		font-family: Roboto;
		font-size: 55px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 auto;
		white-space: nowrap;
		//text-align: center;
	}
	
	&__items{
		display: flex;
		justify-content: center;
	}
		
	.item{
		margin-right: 34px;
		
		&:last-child{
			margin-right: 0;
		}
	
		&__image{
			width: 339px;
			height: 301px;
			
			img{
				width: 100%;
			}
		}
	
		&__description{
			width: 339px;
			height: 197px;
			background-color: #ffffff;
			
			.desc{
				padding-top: 15px;
				margin-left: 22px;
			
				&__date{
					//width: 174px;
					//height: 14px;
					color: #555555;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 700;
					line-height: 33px;
					// Text style for "Food / 16t" 
					letter-spacing: 1.05px; 
				}	
				
				&__title{
					//width: 158px;
					//height: 17px;
					color: #4f4e4e;
					font-family: Roboto;
					font-size: 17px;
					font-weight: 700;
					//margin-top: 23px;
					margin-top: 11px;
				}
				
				p{
					width: 231px;
					width: 238px;
					//height: 37px;
					color: #4f4e4e;
					font-family: Roboto;
					font-size: 17px;
					margin-top: 7px;
					margin-bottom: 15px;
				}
				
				a{
					width: 85px;
					height: 11px;
					color: #555555;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 700;
					line-height: 33px;
					text-transform: uppercase;
					/* Text style for "READ MORE" */
					letter-spacing: 1.05px;
					border-bottom: 7px solid #ff992b;
					text-decoration: none;
					
					&:hover{
						border: none;
					}
				}
			}
		}	
	}	
}	

.article{
	//width: 1441px;
	height: 340px;
	background-color: #4a1100;

	&__wrap{
		//width: 692px;
		width: 704px;
		margin: 0 auto;
	}
	
	&__img{
		text-align: center;
		padding-top: 47px;
		padding-bottom: 22px;
	}
	
	&__quote{
		//width: 692px;
		width: 704px;
		//height: 53px;
		color: #ffffff;
		font-family: Raleway;
		font-size: 19px;
		font-weight: 400;
		line-height: 33.33px;
		text-align: center;
	}
	
	&__underline{
		//width: 120px;
		//height: 15px;
		color: #ffffff;
		font-family: Roboto;
		font-size: 19px;
		font-weight: 700;
		line-height: 33.33px;
		text-align: center;
		margin-top: 18px;
		margin-bottom: 35px;
	}
	
	.socials{
		width: 355px; 
		margin: 0 auto;
		padding-bottom: 43px;
	
		.social{
			margin-right: 21px;
			width: 46px;
			height: 46px;
			
			&:last-child{
				margin-right: 0;
			}
		}
	}
}	

.footer{
	//width: 1440px;
	height: 323px;
	background-color: #dbcfcc;
	overflow: hidden;
	
	.wrapper{
		//padding: 72px 180px;
		padding: 47px 182px;
		display: flex;
	}
	
	.left{
	
		margin-right: 239px;
		
		h2{
			width: 81px;
			height: 19px;
			color: #2d2f2a;
			font-family: Roboto;
			font-size: 25px;
			font-weight: 700;
			//line-height: 33.33px;
			text-transform: uppercase;
			margin-bottom: 47px;
		}
		
		p{
			width: 311px;
			color: #2d2f2a;
			font-family: Roboto;
			font-size: 19px;
			//font-weight: 400;
			//line-height: 29.17px;
			line-height: 29px;
		}
	}
	
	.right{
	
		display: flex;
	
		.column{
			width: 69px;
			display: flex;
			flex-direction: column;
			margin-right: 118px;
			margin-bottom: 80px;
			
			&:nth-child(even){
				margin-right: 114px;
			}
			
			&:last-child{
				margin-right: 0;
			}
			
			h2{
				color: #2d2f2a;
				font-family: Roboto;
				font-size: 21px;
				font-weight: 700;
				line-height: 33.33px;
				text-transform: uppercase;
				margin-bottom: 36px;
			}
		
			a{
				color: #2d2f2a;
				font-family: Roboto;
				font-size: 21px;
				font-weight: 700;
				//line-height: 33.33px;
				line-height: 29px;
				text-decoration: none;
			}
		}
	
	}
}